html, body {
	height: 100%;
	margin: 0; 
	background-color: #00cccc;
	font-family: calibri;
}

#center-pane {
	width: 800px;
	margin: 0 auto;
	height: 100%;
	padding: 0 10px 0 10px;
	background-color: white;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

#opponents-pane {
	display: table;
	margin: 0 auto;
	padding-top: 20px;
}

.opponent-pane {
	width: 160px;
	float: left;
	margin: 0 10px 0 10px;
	text-align: center;
}

#pileText-pane {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#handText-pane {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: red;
}

#cards-pane {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	display: table;
	margin: 0 auto;
	width: 560px; /* we want to accommodate 7 cards in a row */
}

.card-pane {
	float: left;
	position: relative;
	margin: 5px;
	cursor: pointer;
}

.card-pane-overlay {
	height: 100%;
	width: 100%;
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.5;
	display: none;
}

.card-pane.selected .card-pane-overlay {
	display: block;
}

#turnText-pane {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.turnText-highlight {
	font-size: 18pt;
	font-weight: bold;
}

#controls-pane {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#challengePhase-controls-pane {
	text-align: center;
}

#challengePhase-controls-pane button {
	display: block;
	margin-bottom: 10px;
	margin: 10px auto;
}

select {
	padding: 5px;
}

button {
	padding: 5px;
}
